body {
  background: #006599;
  background-size: contain;
  color: white;
}

input[type="submit"], input[type="submit"]:hover {
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

a, textarea:focus, input:focus {
    color: red;
}

td {
  color: black;
}

.editUser {
  text-align: center;
}

.navigation {
  margin-left: 10px;
}
