body {
  background: #006599;
  background-size: contain;
  color: white;
}

input[type="submit"], input[type="submit"]:hover {
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

textarea:focus, input:focus {
    color: red;
}
