
<h1>Welcome, Please login </h1>

<form class="login-user" action="/login" method="post">
  <div class="row">
    <div class="six columns">
      <input type="text" name="user[local][email]" placeholder="Your email" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="password" name="user[local][password]" placeholder="Your password" class="u-full-width">
    </div>
    <input type="submit" value='Log in'>
  </div>
</form>
<br><br>

<p> Dont have an account? Sign up <a href="/signup">HERE</a>
