<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Adding New Asset</title>
  </head>

  <body class="container">
    <%# <div class="jumbotron">%>
      <h2> Add New Asset</h2>

      <form method="post" action="/assets/add">
        <div class="form-group">
          <label for="Name"> Asset Name</label>
          <input type="text" class="form-control" id="assetName" placeholder="keppel shares, 1037 serangoon rd" name="newAsset[assetName]">
        </div>
        <div class="form-group">
          <label for="Purchase Price">Purchase Price</label>
          <input type="text" class="form-control" id="purchasePrice" placeholder="$$$" name="newAsset[purchasePrice]">
        </div>
        <div class="form-group">
          <label for="Selling Price">Selling Price</label>
          <input type="text" class="form-control" id="sellingPrice" placeholder="if you selling... put a price" name="newAsset[sellingPrice]">
        </div>
        <div class="form-group">
          <label for="Asset Type">Asset Type</label>
          <input type="text" class="form-control" id="assetType" placeholder="stock shares car property" name="newAsset[assetType]">
        </div>

<%# can put name = "newAsset[name]" and password = "newAsset[password]" in the name s"%>

        <button type="submit" class="btn btn-default" id="assetAdd">Submit</button>
      </form>
  </body>
</html>
